pkgbase = linux-vita
	pkgdesc = Linux kernel with BORE scheduler (from vanilla kernel.org source)
	pkgver = 7.1.1
	pkgrel = 1
	url = https://github.com/vita-linux/linux-vita
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = xmlto
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	makedepends = git
	options = !strip
	source = https://github.com/vita-linux/linux-vita/releases/download/v7.1.1/linux-vita-7.1.1.tar.xz
	source = config
	sha256sums = de91539a444fffd7cc577ace960d5de9faeaa2dc9c075872d11b999eb1fdae27
	sha256sums = 30cba11dcb691a3d1cdecb63dae6d915b749ae866547dba6d339155bfabe5b70

pkgname = linux-vita
	pkgdesc = The Linux kernel with BORE scheduler (from vanilla kernel.org source) kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vita-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel with BORE scheduler (from vanilla kernel.org source) kernel
	depends = linux-vita
	depends = pahole
